html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Forum", cursive;
  font-family: "Inter", sans-serif;

  background-color: gray;
  /* background-color: #ffffff; */
  color: #000000;
}

.main_wraper {
  width: 1440px;
  margin: 0 auto;

  background-color: #ffffff;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.link:hover {
  color: #0dd7f1;
}

/* #region healer */

.header {
  display: flex;
  align-items: center;

  width: 100%;
  height: 90px;

  background: #0c0c0e;
}

.logo_header {
  margin-left: 1.39%;

  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  line-height: 166.67%;
  letter-spacing: 0.6px;

  color: #ffffff;
}

.nav_header {
  margin-left: 31.53%;
}

.list_nav_header {
  display: flex;
  list-style: none;
  padding-left: 0;
  width: 584px;
  justify-content: space-between;
}

.item_nav_header {
  font-size: 20px;
  font-weight: 400;
  line-height: 250%;
}

.icon_header {
  margin-left: 2.78%;
}

/* #endregion */

/* #region welcome_page */

.welcome_page {
  width: 100%;
  height: 600px;
}

/* #endregion */

/* #region about_page */

.about_page {
  width: 100%;
  height: 837px;
}

.about_page_title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;

  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2px;

  color: #0c0c0e;
}

.about_page_line {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  width: 50px;
  height: 1px;

  background-color: #0c0c0e;
}

.about_page_text {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 200%;
}

.about_page_list {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  list-style: none;
}

/* #endregion */

/* #region about radio button */

.about_ralio_button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.ralio_button_label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.real_radio_button {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.castom_radio_button {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0c0c0e;
}

.castom_radio_button::before {
  content: "";

  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #bb945f;

  display: none;
}

.real_radio_button:checked + .castom_radio_button::before {
  display: block;
}

/* #endregion */

/* #region favorites_page */

.favorites_page {
  width: 100%;
  height: 837px;
}

.favorites_title {
  color: #0C0C0E;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 100%;
letter-spacing: 2px;
text-transform: capitalize;
}

/* #endregion */